<html>
  <head>
    <link rel="stylesheet" href="/styles/client.css">
  </head>
  <body>
    <div id="debug"></div>
    <svg style="width:100%;height:100%;" xmlns="http://www.w3.org/2000/svg">
      <!-- Created with SVG-edit - http://svg-edit.googlecode.com/ -->
      <g>
        <ellipse id="dragger-pointer-starter"
        ry="34" rx="34"
        cy="187" cx="141" />
        <ellipse id="dragger-pointer-ender"
        ry="34" rx="34"
        cy="187" cx="141"/>
      <line id="dragger-liner"/></line>
    </g>
  </svg>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/scripts/lib/hammer.min.js"></script>
  <script src="/scripts/lib/jquery-2.1.4.min.js"></script>
  <script src="/scripts/client.js"></script>
</body>
</html>