body {
	background: #50423C;
	margin: 0;
}

#dragger-pointer-starter {
	fill: gray;
	stroke: red;
}

#dragger-pointer-ender {
	fill: gray;
	stroke: red;
}

#dragger-liner {
	stroke-width: 5px;
	stroke: red;
}

#dragger-pointer-ender,
#dragger-pointer-starter,
#dragger-liner {
	transition: 0.8s opacity;
	opacity: 0;
}

#dragger-pointer-ender.show,
#dragger-pointer-starter.show,
#dragger-liner.show {
	transition: 0.2s opacity;
	opacity: 1;
}